@font-face {
  font-family: 'Wendy One';
  src: url('../fonts/WendyOne-Regular.ttf');
}

/* colors https://coolors.co/c19ab7-0069ff-9c95dc-0b7189-170a1c */
.color-palette {
    color: #C19AB7; /* Pastel purple */
    color: #9C95DC; /* Blue bell  */
    color: #0B7189; /* Metallic Seaweed */
    color: #0069FF; /* Brandeis Blue */
    color: #170A1C; /* Black */
}

#logged-in-as {
    position: absolute;
    bottom: 4px;
    right: 4px;
    color: #0B7189;
}

.bfw-splash-container {
    background: #0069ff;
    color: white;
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 100%;
    top: 4.1em;
    left: 0;
    position: fixed !important;
}

.bfw-splash {
    /* absolute center .splash within .splash-container */
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 100px; left: 0; bottom: 0; right: 0;
    text-align: center;
}

.bfw-content {
    margin: 0 auto;
    padding: 1em 2em;
    max-width: 800px;
    color: #170A1C;
    text-align: center;
    margin-bottom: 50px;
    line-height: 1.6em;
}

.bfw-header {
    margin: 0;
    color: #170A1C;
    text-align: center;
    padding: 1em 2em;
    border-bottom: 1px solid #eee;
    margin-bottom: 1.5em;
 }

.bfw-header h1 {
    margin: 0.2em 0;
    font-size: 3em;
    font-weight: 300;
}
.bfw-header h2 {
    font-weight: 300;
    color: #888;
    padding: 0;
    margin-top: 0;
}

.bfw-content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #0B7189;
}

.bfw-button-primary {
    background-color: #9C95DC;
    color: #fff;
    margin: 0.1em !important;
}

.bfw-menu-link {
    color: white !important;
    padding: 1.5em 1em !important;
}

.bfw-menu-link:hover, .bfw-menu-link:focus {
    background-color: #66a5ff !important;
}

.bfw-nav-label {
    display: none;
}

.bfw-logo {
    font-family: 'Wendy One', sans-serif !important;
    text-transform: none !important;
    font-size: 1.6em !important;
    color: white !important;
    padding: 0.75em 1em !important;
}

.bfw-nav-list {
    font-size: 0.9em !important;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #C19AB7;
}

@media (max-width: 767px) {
    .bfw-nav-label {
        display: inline;
        position: absolute;
        left: 50px;
    }
}