<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand bfw-logo" href="{% url 'home' %}">Baby's First Words</a>
  <button class="navbar-toggler bfw-navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-ellipsis-v"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a href="{% url 'home' %}" class="bfw-menu-link nav-link" alt="home">
                <i class="fa fa-home"></i>
                <span class="bfw-nav-label"> Home</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="bfw-menu-link nav-link" alt="about">
                <i class="fa fa-info"></i>
                <span class="bfw-nav-label"> About</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="bfw-menu-link nav-link" alt="contact">
                <i class="fa fa-envelope"></i>
                <span class="bfw-nav-label"> Contact</span>
            </a>
        </li>
    </ul>
    {% if user.email %}
        <a class="btn bfw-btn-outline-success my-2 my-sm-0 mr-2" href="{% url 'my_lists' user.email %}">My lists</a>
        <a id="id_logout" class="btn bfw-btn-outline-success my-2 my-sm-0" href="{% url 'logout' %}">Log out</a>
    {% else %}
        <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'send_login_email' %}">
            <input id="login" class="form-control mr-sm-2" name="email" type="email" placeholder="Email" aria-label="Sign in"/>
            {% csrf_token %}
            <button class="btn bfw-btn-outline-success my-2 my-sm-0">Sign in</button>
        </form>
    {% endif %}
  </div>
</nav>

{% if user.email %}
    <div id="logged-in-as">Logged in as {{ user.email}}</div>
{% endif %}
