
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="An app to track your child's language development">
    <title>{% block title %}{% endblock %}Baby's First Words</title>

    <link rel="stylesheet" href="/static/css/pure-min.css">
    <link rel="stylesheet" href="/static/css/_bfw-base.css">
    <link rel="stylesheet" href="/static/css/grids-responsive-min.css">
    <link rel="icon" type="image/png" href="static/img/logo-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="static/img/logo-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="static/img/logo.png" sizes="96x96">
</head>
<body>
{% include "_nav.html" %}
<div id="layout">
    <div id="main">
        <div class="bfw-header">
            <h1>{% block header_text %}{% endblock %}</h1>
            <h2>{% block sub_header_text %}{% endblock %}</h2>
        </div>

        <div class="bfw-content pure-g">
            <div class="pure-u-sm-1-12 pure-u-md-1-5"></div>
            <div class="pure-u-1 pure-u-sm-11-12 pure-u-md-3-5">
                <form class="pure-form pure-g" method="POST" action="{% block form_action %}{% endblock %}">
                    <div class="pure-u-4-5">
                        {{ form.text }}
                    </div>
                    {% csrf_token %}
                    {% if form.errors %}
                        <div class="form-group has-error">
                            <div class="help-block">{{ form.text.errors }}</div>
                        </div>
                    {% endif %}
                    <div class="pure-u-1-5">
                        <button type="submit" class="pure-button bfw-button-primary">
                            <i class="fa fa-paper-plane" aria-hidden="true"></i>
                        </button>
                    </div>
                </form>
                <div class="pure-g">
                {% block table %}{% endblock %}
                </div>
            </div>
            <div class="pure-u-md-1-5"></div>
        </div>
    </div>
</div>

<script src="https://use.fontawesome.com/4c28e24564.js"></script>
<script src="/static/js/ui.js"></script>
{% block scripts %}{% endblock %}

</body>
</html>
