
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="An app to track your child's language development">
    <title>{% block title %}{% endblock %}Baby's First Words</title>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/_bfw-base.css">

    <!--<link rel="icon" type="image/png" href="static/img/logo-16x16.png" sizes="16x16">-->
    <!--<link rel="icon" type="image/png" href="static/img/logo-32x32.png" sizes="32x32">-->
    <!--<link rel="icon" type="image/png" href="static/img/logo-96x96.png" sizes="96x96">-->
</head>
<body>
{% include "_nav.html" %}
<div id="container">
    <div class="row">
        <div id="main" class="col">

            {% if messages %}
                <div class="row">
                    <div class="col-md-8">
                    {% for message in messages %}
                        {% if message.level_tag == 'success' %}
                            <div class="alert alert-success">{{ message }}</div>
                        {% else %}
                            <div class="alert alert-warning">{{ message }}</div>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            {% endif %}

            <div class="bfw-header">
                <h1>{% block header_text %}{% endblock %}</h1>
                <h2>{% block sub_header_text %}{% endblock %}</h2>
            </div>

            <div class="bfw-content-wrapper">
                <div class="bfw-content">
                    <div class="text-center">
                        {% block list_form %}
                            <form method="POST" action="{% block form_action %}{% endblock %}">
                                <div class="form-row align-items-center">
                                    <div class="col-sm-10">
                                        {{ form.text }}
                                    </div>
                                    {% csrf_token %}
                                    {% if form.errors %}
                                        <div class="form-group has-error">
                                            <div class="help-block">{{ form.text.errors }}</div>
                                        </div>
                                    {% endif %}
                                    <div class="col-sm-2">
                                        <button class="btn btn-primary">
                                            <i class="fa fa-paper-plane"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        {% endblock list_form %}
                        <div class="">
                            {% block table %}{% endblock %}
                        </div>

                        {% block extra_content %}{% endblock %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/jquery-3.2.1.min.js"></script>
<script src="https://use.fontawesome.com/4c28e24564.js"></script>
<script src="/static/js/list.js"></script>
<script>
$(document).ready(function () {
  window.babysFirstWords.initialize();
});
</script>
{% block scripts %}{% endblock %}

</body>
</html>
