{% extends "base.html" %}

{% block title %}Your words - {% endblock %}

{% block header_text %}Your words{% endblock %}

{% block form_action %}{% url "view_list" list.id %}{% endblock %}

{% block table %}
  <table id="id_list_table" class="table pure-table-horizontal pure-u-1">
    {% for item in list.item_set.all %}
      <tr><td>{{ forloop.counter }}: {{ item.text }}</td></tr>
    {% endfor %}
  </table>
{% endblock %}

{% block extra_content %}

    <div class="bfw-share-form-wrapper pure-g">
        <div class="pure-u-1">Add another user to this list</div>
        <form method="POST" class="pure-form bfw-share-form pure-g" action ="{% url 'share_list' list.id %}">
            <div class="pure-u-4-5">
                <input id="sharee" name="sharee" type="email" placeholder="Email"/>
            </div>
            {% csrf_token %}
            <div class="pure-u-1-5">
                <button class="pure-button bfw-button-primary">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </form>
    </div>
{% endblock %}