{% extends 'base.html' %}

{% block header_text %}{% endblock %}

{% block list_form %}{% endblock %}

{% block extra_content %}
    <h2>{{ owner.email }}'s lists</h2>
    <ul class="list-group">
        {% for list in owner.list_set.all %}
            <li class="list-group-item">
                <a class="list-group-item-action" href="{{ list.get_absolute_url }}">{{ list.name }}</a>
            </li>
        {% endfor %}
        {% for list in owner.shares_list.all %}
            <li class="list-group-item">
                <a class="list-group-item-action" href="{{ list.get_absolute_url }}">{{ list.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
